@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  background: rgb(228, 231, 235);
  background: linear-gradient(
    180deg,
    rgb(208, 229, 255) 0%,
    rgb(113, 180, 250) 100%
  );
}

.key {
  border: 1px solid #999;
  background-color: #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 20px;
  flex-direction: column;
  margin: 1rem;
  min-width: 10rem;
  position: relative;
}

.key small {
  position: absolute;
  top: -1.6rem;
  left: 0;
  text-align: center;
  width: 100%;
  color: #555;
  font-size: 1rem;
  font-weight: 400;
}
