@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  background: rgb(228, 231, 235);
  background: linear-gradient(
    180deg,
    rgb(208, 229, 255) 0%,
    rgb(113, 180, 250) 100%
  );
}

.instruction {
  border: 1px solid #000448;
  background-color: rgb(208, 229, 255);
  color: #000448;
  border-radius: 0.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 300;
  break-inside: avoid;
  text-align: justify;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 1rem;
  min-width: 10rem;
  position: relative;
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.key {
  border: 1px solid #fff;
  background-color: #000448;
  color: rgb(208, 229, 255);
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 300;
  break-inside: avoid;
  text-align: justify;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 1rem;
  width: 10rem;
  height: 10rem;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in;
}
.key:hover {
  position: relative;
  transform: scale(1.1);
  border: 1px solid #000448;
  background-color: rgb(208, 229, 255);
  color: #000448;
  font-size: 3rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
  box-shadow: inset 0px 0 14px rgba(0, 115, 230, 0.3),
    inset 0px 0 18px rgba(0, 115, 230, 0.3),
    inset 0px 0 20px rgba(0, 115, 230, 0.3);
  transition: all 0.2s ease-out;
}

.key:hover small {
  top: 11rem;
  transition: all 0.2s ease-out;
}

.key small {
  position: absolute;
  top: -3rem;
  left: 50;
  text-align: center;
  width: fit-content;
  border: 1px solid #fff;
  background-color: #000448;
  color: rgb(208, 229, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  /* display: inline-flex; */
  align-items: center;
  padding: 0.3rem 0.6rem 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.4s ease-in;
}
